<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	{% block share_head %}{% endblock %}
</head>


<body>
	
	
    <!-- HEADER -->
	<div class="pc">{% block share_menu %}{% endblock %}</div>
	<div class="iframe-rwd mobile">{% block share_menu_mobile %}{% endblock %}</div>
    <!-- /HEADER -->
    
    
    <!-- COACH -->
    <div class="coach_full">
        <div class="top_title">
	        <h2>師資介紹</h2>
	        <h3>TEACHER</h3>
	    </div>
        
        <div class="coach">
			<div class="coach_img">
				<img src="/static/images/coach/coach_kinco.png">
			</div>
			
			<div class="coach_intro">
				<h2>金子老師</h2>
				<p>
					年屆51歲的我在此芸芸眾生當中因為瑜珈才有機會與大家結善緣，深感欣慰與幸運！這些年同學們紛紛希望我成立粉絲團，剛開始老人家我確實搞不清楚粉絲團功用為何？經過同學們的解釋說明終於了解了！再次感謝幫助我成團的學生們、投入開團技術工作的學生們、與給我勇氣肯定的學生們，辛苦大家了！<br>
					<br>
					在這一段不算短的教課歲月讓我看到同學們的蛻變，健康、美麗、快樂，由內心到外表散發出平衡、自在、喜悅，帶給我莫大的安慰與滿足，這是支持我不斷向上前進的動力也是我快樂的泉源！<br>
					因此一段段的回憶持續湧入我心坎～回想年輕時的我身兼數職蠟燭多頭燒，真的把身體燒垮了！失眠、肥胖、頭痛、焦慮、憂鬱、心律不整、腸胃失調、坐骨神經痛坐立難安⋯身心完全失衡了；持續當藥罐子多年無效下心生徬徨無助，時常暗夜默默地哭泣⋯<br>
					在一個機緣下踏進了瑜珈教室，肢體僵硬肥胖的我在一個前彎居然手還不到大腿的一半，天哪！身心受創從此就躲在後面的角落默默練習。<br>
					說也奇怪只記得第一天的瑜珈下課後忘記吃助眠藥和肌肉放鬆藥，居然一覺到天亮，當我一睜開雙眼嚇一跳問自己：居然我沒吃藥能睡覺耶？心中激動地留下感動的眼淚⋯從此我肯定瑜珈愛上瑜珈。無論刮風下雨天天背著瑜珈墊步行約20分鐘⋯再次進入瑜珈心世界～<br>
					身體的狀況日漸改善不時地也問號出現：難道會有很多婦女和我一樣的身體狀況嗎？若瑜珈真的有幫助紓緩改善真希望未來有一天我也能幫助更多人走向健康快樂！<br>
					或許就是這樣的念力、願力支持我一直走在瑜珈修練之路～聽見內在的聲音、看見內心的世界～我懂得適時轉念學習放鬆、放下與放空！珍惜當下所擁有的幸福～<br>
					因緣際會下踏上瑜珈教學之路、有機會奉獻所知所學與所能⋯和來自各地的學生們結緣精進學習！再次感謝所有學生們對我的支持與愛護。<br>
					<br>
					在此也感謝所有任教各運動中心的長官與同仁們支持與協助。<br>
					粉絲團的創立希望提供大家更方便更緊密的聯繫與互動；我也會不定時地放上課堂上令人感動溫馨的心靈智慧語錄和大家分享喜悅！<br>
					在此也懇請呼籲大家發揮揪團來運動的力量，不分男女老少幫助更多人從運動中體會到健康快樂平衡喜悅。
				</p>
				
				<h3>◇ 個人資訊</h3>
				<ol>
					<li>美國AFFA MAT SCIENCE墊上運動國際教練</li>
					<li>美國AFFA PFT國際體適能研習</li>
					<li>中華民國瑜伽協會師資</li>
					<li>阿南達瑪迦勝王瑜伽師資</li>
					<li>功能性肌力延展師資</li>
					<li>台北醫學大學中醫經絡養生班研習</li>
					<li>中國文化大學心理學研習</li>
					<li>民視電視公司配音班結業</li>
					<li>台北市大安運動中心、大同運動中心、內湖運動中心、中山運動中心、萬華運動中心、文山運動中心等瑜珈、皮拉提斯、體適能教師</li>
					<li>獲選100年救國團萬華運動中心優良教師</li>
					<li>台大醫院北護分院體適能講師兼皮拉提斯教師</li>
					<li>統一資訊股份有限公司墊上體適能運動教師</li>
					<li>美商環球（派拉蒙）影片公司專任瑜珈教師</li>
					<li>101年/102年度台北市勞工局主辦運動健康研習活動講師</li>
					<li>中興保全文教基金會102年度志工月會運動健康活動講師</li>
					<li>102年度台北市大同運動中心~瑜珈饗宴活動~教師</li>
					<li>TOUCH AERO公司健康有氧活動講師及代言教師</li>
					<li>富邦人壽公司富樂通訊處體適能運動教師</li>
					<li>個人體適能家教顧問</li>
					<li>受訪2011年iT home 電腦報封面故事~iT人不可不知的健康錦囊專輯~健康瑜珈</li>
					<li>受訪2012年中國時報新春健康專欄~瑜珈養生~</li>
				</ol>
				
				<h3>◇ 專業領域</h3>
				<p>
					墊上科學運動核心訓練、核心復健運動、皮拉提斯、Flex bend皮拉提斯、抗力球核心運動、功能性肌力延展、Mat Slim Ball、個人體適能顧問、哈達瑜伽、Yoga Therapy、Flex bend yoga 、Yogalates、Stretch Yoga、Raja yoga、配音人員。
				</p>
				
				<h3>◇ 獲獎</h3>
				<p>
					100年救國團萬華運動中心優良教師
				</p>

			</div>
			
        </div>
    </div>
    <!-- /COACH -->

    
    
    <!-- FOOTER -->
    <div clss="bottom_cover">{% block share_foot %}{% endblock %}</div>
    <!-- /FOOTER -->
    
    
    
    
    
    
</body>

</html>
