<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	{% block share_head %}{% endblock %}
</head>


<body>
	
	
    <!-- HEADER -->
	{% block share_menu %}{% endblock %}
    <!-- /HEADER -->
    
    
    <!-- EXPERIENCES -->
    <div class="exp_full">
        <div class="top_title">
			{% if role == "teacher" %}
				<h2>教學經驗</h2><h3>EXPERIENCES</h3>
			{% elif role == "student" %}\
				<h2>學生經驗</h2><h3>EXPERIENCES</h3>
			{% endif %}
	    </div>
        
        <ul class="exp">
			{% for experience in experiences %}
			<li>
				<div class="exp_img">
					<img src="{{experience.photo_url}}">
				</div>
				<div class="exp_txt">
					<div class="exp_date">{{experience.publish_date}}</div>
					<h2>{{experience.title}}</h2>
					<p>{{experience.content}}</p>
					<div class="exp_name">{{experience.author}}</div>
				</div>
			</li>
			{% endfor %}			
        </ul>
    </div>
    <!-- /EXPERIENCES -->

    
    
    <!-- FOOTER -->
    <div clss="bottom_cover">{% block share_foot %}{% endblock %}</div>
    <!-- /FOOTER -->
    
    
    
    
    
    
</body>

</html>
