<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	{% block share_head %}{% endblock %}
</head>


<body>
	
	
    <!-- HEADER -->
	{% block share_menu %}{% endblock %}
    <!-- /HEADER -->
    
    
    <!-- EXPERIENCES -->
    <div class="exp_full">
        <div class="top_title">
	        <h2>教學經驗</h2>
	        <h3>EXPERIENCES</h3>
	    </div>
        
        <ul class="exp">
			
			<li>
				<div class="exp_img">
					<img src="/static/images/exp/exp1.jpg">
				</div>
				<div class="exp_txt">
					<div class="exp_date">2017/01/01</div>
					<h2>經絡和緩鬆身瑜伽上課心得</h2>
					<p>這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字 這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</p>
					<div class="exp_name">學生 王小英</div>
				</div>
			</li>
			
			<li>
				<div class="exp_img">
					<img src="/static/images/exp/exp1.jpg">
				</div>
				<div class="exp_txt">
					<div class="exp_date">2017/01/01</div>
					<h2>經絡和緩鬆身瑜伽上課心得</h2>
					<p>這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字 這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</p>
					<div class="exp_name">學生 王小英</div>
				</div>
			</li>
			
			<li>
				<div class="exp_img">
					<img src="/static/images/exp/exp1.jpg">
				</div>
				<div class="exp_txt">
					<div class="exp_date">2017/01/01</div>
					<h2>經絡和緩鬆身瑜伽上課心得</h2>
					<p>這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字 這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</p>
					<div class="exp_name">學生 王小英</div>
				</div>
			</li>
			
			<li>
				<div class="exp_img">
					<img src="/static/images/exp/exp1.jpg">
				</div>
				<div class="exp_txt">
					<div class="exp_date">2017/01/01</div>
					<h2>經絡和緩鬆身瑜伽上課心得</h2>
					<p>這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字 這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</p>
					<div class="exp_name">學生 王小英</div>
				</div>
			</li>
			
			<li>
				<div class="exp_img">
					<img src="/static/images/exp/exp1.jpg">
				</div>
				<div class="exp_txt">
					<div class="exp_date">2017/01/01</div>
					<h2>經絡和緩鬆身瑜伽上課心得</h2>
					<p>這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字 這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</p>
					<div class="exp_name">學生 王小英</div>
				</div>
			</li>
			
        </ul>
    </div>
    <!-- /EXPERIENCES -->

    
    
    <!-- FOOTER -->
    <div clss="bottom_cover">{% block share_foot %}{% endblock %}</div>
    <!-- /FOOTER -->
    
    
    
    
    
    
</body>

</html>
