<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	{% block share_head %}{% endblock %}
</head>


<body>
	
	
    <!-- HEADER -->
	<div class="pc">{% block share_menu %}{% endblock %}</div>
	<div class="iframe-rwd mobile">{% block share_menu_mobile %}{% endblock %}</div>
    <!-- /HEADER -->
    
    
    <!-- FAQ -->
    <div class="faq_full">
        <div class="top_title">
	        <h2>線上諮詢</h2>
	        <h3>FAQ</h3>
	    </div>
        
        <div class="faq">
			
			<div id="faq_list">
				<h2>關於報名</h2>
				<ul>
					<li>
						<div class="question" onclick="unfold('q1');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q1">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q2');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q2">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q3');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q3">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q4');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q4">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q5');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q5">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
				</ul>
				
				<h2>關於上課</h2>
				<ul>
					<li>
						<div class="question" onclick="unfold('q6');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q6">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q7');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q7">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q8');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q8">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q9');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q9">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
					<li>
						<div class="question" onclick="unfold('q10');">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字？</div>
						<div class="answer" id="q10">這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字這只是假字。</div>
					</li>
				</ul>
			</div>
			
			<div id="faq_message">
				<h2>留言板</h2>
			</div>
			
        </div>
    </div>
    <!-- /FAQ -->

    
    
    <!-- FOOTER -->
    <div clss="bottom_cover">{% block share_foot %}{% endblock %}</div>
    <!-- /FOOTER -->
    
    
    <!-- answer hide-->
	<script>
	$('.answer').css('display','none');
	function unfold ( n ) {
	　　var s = document.getElementById( n ).style;
	　　s.display = ( s.display == 'none' ) ? '' : 'none' ;
	}
	</script>
	
	
	    
    
    
</body>

</html>
