<!-- PC HEADER -->
<div class="header_full pc">
        <div class="header">
            <ul class="top">
                <li><a href="/index_base" target="_parent">最新消息</a></li>
                <li><a href="https://www.facebook.com/kincoyoga/" target="_blank"><img src="/static/images/common/fb_icon.jpg"></a></li>
            </ul>
      
            <div class="logo"><a href="/" target="_parent"><img src="/static/images/common/logo.jpg"></a></div>
        </div>
    </div>
    <!-- /PC HEADER -->
    
    
    <!-- PC NAVIGATION -->
    <div class="nav_full pc">
        <div class="nav">
            <ul class="drop-down-menu">
                <li><a href="#" target="_parent">經營理念</a></li>
                <li><a href="#" target="_parent">會館介紹</a></li>
                <li><a href="/coaches" target="_parent">金子老師</a></li>
                <li><a href="/classes" target="_parent">課程資訊</a></li>
                <li><a href="/videos/class/"s target="_parent">影音專區</a></li>
                <li>
                    <a>心得分享</a>
                    <ul>
                        <li><a href="/experiences/teacher/" target="_parent">教學經驗</a></li>
                    	<li><a href="/experiences/student/" target="_parent">學生心得</a></li>
                    </ul>
                </li>
                <li>
                    <a>專欄文章</a>
                    <ul>
                        <li><a href="#" target="_parent">金子專欄</a></li>
                        <li><a href="#" target="_parent">健康專欄</a></li>
                    </ul>
                </li>
                <li>
                    <a>線上諮詢</a>
                    <ul>
                        <li><a href="/q_and_a" target="_parent">常見問題</a></li>
                        <li><a href="/q_and_a" target="_parent">留言板</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /PC NAVIGATION -->

    <!-- MOBILE HEADER -->
    <div class="mobile_header mobile">
		<div class="logo"><a href="/home" target="_parent"><img src="/static/images/common/logo.jpg"></a></div>
		
		<div class="mobile_menu">
			<div class="mobile_menu_btn_open"><img src="/static/images/common/mobile_menu_icon.png"/></div>
			<div class="mobile_menu_btn_fb"><img src="/static/images/common/fb_icon.jpg"/></div>
		</div>
    </div>
    <!-- /MOBILE HEADER -->
    
    
    <!-- MOBILE NAVIGATION -->
    <div class="mobile_nav mobile">
	    <div class="mobile_menu_btn_close"><img src="/static/images/common/mobile_close_icon.png"/></div>	
		
        <ul class="mobile_menu_list">
            <li><a href="#" target="_parent">經營理念</a></li>
            <li><a href="#" target="_parent">會館介紹</a></li>
            <li><a href="/coaches" target="_parent">金子老師</a></li>
            <li><a href="/classes" target="_parent">課程資訊</a></li>
            <li><a href="/videos" target="_parent">影音專區</a></li>
            <li>
                <a>心得分享</a>
                <ul>
                    <li><a href="/experiences/teacher/" target="_parent">教學經驗</a></li>
                    <li><a href="/experiences/student/" target="_parent">學生心得</a></li>
                </ul>
            </li>
            <li>
                <a>專欄文章</a>
                <ul>
                    <li><a href="#" target="_parent">金子專欄</a></li>
                    <li><a href="#" target="_parent">健康專欄</a></li>
                </ul>
            </li>
            <li>
                <a>線上諮詢</a>
                <ul>
                    <li><a href="/faq/" target="_parent">常見問題</a></li>
                    <li><a href="/faq/" target="_parent">留言板</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /MOBILE NAVIGATION -->
