<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	{% block share_head %}{% endblock %}
</head>


<body>
	
	
	<!-- HEADER -->
	{% block share_menu %}{% endblock %}
    <!-- /HEADER -->
    
    
    <!-- VIDEO -->
    <div class="video_full">
        <div class="top_title">
	        <h2>影音專區</h2>
	        <h3>VIDEO</h3>
	    </div>
        
        <div class="video">
			<ul class="tag">
				<li class="active">順著節氣來塑身</li>
				<li>八大電視台「健康No1」</li>
				<li>年代much「別讓身體不開心」</li>
			</ul>
			
			<ul class="video_list">
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸子老師帶你克服肩頸酸痛問題金子老師帶子老師帶你克服肩頸酸痛問題金子老師帶子老師帶你克服肩頸酸痛問題金子老師帶子老師帶你克服肩頸酸痛問題金子老師帶子老師帶你克服肩頸酸痛問題金子老師帶子老師帶你克服肩頸酸痛問題金子老師帶子老師帶你克服肩頸酸痛問題金子老師帶痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題金子老師帶你克服肩頸酸痛問題v金子老師帶你克服肩頸酸痛問題v</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
				<li>
					<a data-fancybox href="https://www.youtube.com/watch?v=vH_N0W6EgWE&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
						<div class="need_img"><img src="/static/images/video/video1.jpg"></div>
						<h2>節氣運動 - 消除肩頸痠痛簡易小撇步</h2>
						<h3>金子老師帶你克服肩頸酸痛問題</h3>
					</a>
				</li>
			</ul>
        </div>
    </div>
    <!-- /VIDEO -->

    
    
    <!-- FOOTER -->
    <div clss="bottom_cover">{% block share_foot %}{% endblock %}</div>
    <!-- /FOOTER -->
    
    
    
    
    
    
</body>

</html>
